html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    /* background */
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --accent-bg-color: #F5F4FA;
    /* text */
    --primary-text-color: #212121;
    --secondaty-text-color: #757575;
    --accent-color: #2196F3;
    --hero-text-color: #FFFFFF;
    --logo-header-color: #000000;
    --logo-footer-color: #FFFFFF;
    --footer-contacts-color: (rgba(255, 255, 255, 0.6));
}

/* Body */
.page {
    background-color: var(--primary-bg-color);

    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);

    list-style-type: none;
    margin: 0;

    outline: 2px solid red;
}

.list {
    list-style: none;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    outline: 2px solid red;
}

.hide-head,
.section .hide-head {
    display: none;
}

/* Page header */

.page-header {
    background-color: #ccc;
}

/* Logo */
.logo-header,
.logo-footer,
.logo-blue {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}

.logo-header {
    color: var(--logo-header-color);
}

.logo-footer {
    color: var(--logo-footer-color);
}

.logo-header .logo-footer {
    font-family: Raleway, cursive;
}

.logo-blue {
    color: var(--accent-color);
    font-family: Raleway, cursive;
}

.link,
.footer-item,
.logo-header,
.logo-footer {
    text-decoration: none;
}

.logo-header:hover .logo {
    color: var(--secondaty-text-color);
}

.logo:hover {
    color: var(--secondaty-text-color);
}

.logo-footer:hover .logo {
    color: var(--secondaty-text-color);
}


/* site-nav */
.site-nav .link,
.site-cont .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-cont .link {
    color: var(--secondaty-text-color);
}

.site-cont .link:hover,
.site-cont .link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--secondary-bg-color);
}

/* .conteiner {
    margin-left: auto;
    margin-right: auto;
} */

.hero-title {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

/* Section */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* Feature/Functions/Our team */
.feature .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondaty-text-color);
}

.section-title .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.box-features {

    outline: 2px solid red;
}

.functions {
    outline: 2px solid red;
    background-color: aqua;
}

.team {
    background-color: var(--accent-bg-color);
}

.team .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .team-role {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondaty-text-color);
}

/* Button main page*/
.btn {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 10px, 32px;
    display: flex;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.89;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    margin: 0 auto;
}

.btn:hover,
.btn:focus {
    color: var(--accent-color);
    background-color: var(--primary-bg-color);
}

/* Footer */
.footer {
    background-color: var(--secondary-bg-color);
}

.footer-text .adress {
    color: var(--hero-text-color);
}

.footer-item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-item:hover,
.footer-item:focus {
    color: var(--accent-color);
}


/* portfolio page */

/* Buttons */
.box {
    list-style-type: none;
    outline: 2px solid red;
}

.button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    padding: 6px 22px;

    /* background-color: var(--accent-bg-color);  потом добавить*/
}

.box-button {
    list-style-type: none;
    /* delete later */
    outline: 2px solid red;
    background-color: aquamarine;

}

.button-list {
    display: inline-block;
}

.filtr-btn button:hover,
.filtr-btn button:focus {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
}

/* Projects */
.box-projects {
    /* delete later */
    outline: 2px solid red;
    background-color: orange;
}

.projects .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

/* 0000 .filtr .btn-list */
/* текст */
/* #212121 - цвет основного текста */
/* #757575 - вторичный цвет */
/* #FFFFFF - белый цвет теkста */
/* #2196F3 - акцент (голубой) */
/* rgba(255, 255, 255, 0.6) - цвет контактов в футере*/
/* фон */
/* #FFFFFF - основной цвет фона */
/* #2F303A - вторичный цвет фона */
/* #F5F4FA - третий цвет фона */














/* main {
    background-color: #FFFFFF;
}

/* .header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;

} */

/* .nav,
.header-contacts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav>li,
.header-contacts>li {
    display: inline-block
}

.header .nav-list {
    display: inline-block
}

.logo-header {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.nav .link {
    color: #212121;
}

.header .link:hover,
.header .link:focus {
    color: #2196F3;
}

.header-contacts a {
    color: #757575;

}

/* footer */
/* .footer-info {
    background-color: #2F303A;
}

.footer-list .link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;


}

.footer-list .link:hover,
.footer-list .link:focus {
    color: #2196F3;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */


/* .header-contacts .link:hover,
.header-contacts .link:focus {
    color: #2196F3;
} */

/* .title {
    text-align: center;
    background-color: #2F303A;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    ;

}

.title-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* display: flex; */
/* align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
*/